<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">FAQ</h2>
    <ul class="faq_list">
      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Is the game free to play?</span>
          <img src="./img/faq-plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes, you can enjoy the game for free with optional in-app purchases.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Can I play offline?</span>
          <img src="./img/faq-plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes, some features work offline, but online access is required for
          events and updates.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">How do I unlock new cats?</span>
          <img src="./img/faq-plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Earn rewards by cooking soups and expanding your town.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Are there any special events?</span>
          <img src="./img/faq-plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes! Participate in seasonal events and limited-time challenges.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Can I customize my town?</span>
          <img src="./img/faq-plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Absolutely! Decorate and personalize it with unique items.
        </p>
      </li>
    </ul>
  </div>
</section>
