<section class="features" id="features">
  <div class="features_container container">
    <h2 class="title-h2">Game Features</h2>
    <div class="features_content">
      <div class="features-img-box">
        <img src="./img/features-image.jpg" alt="mole" />
      </div>
      <ul class="features-list">
        <li class="features-item">
          <span>Build Your Cat Village</span> – Decorate and expand a peaceful
          town.
        </li>
        <li class="features-item">
          <span>Cook Tasty Soups</span> – Let your cats prepare delicious
          dishes.
        </li>
        <li class="features-item">
          <span>Relaxing Gameplay</span> – No stress, just adorable moments.
        </li>
        <li class="features-item">
          <span>Collect Cute Cats</span> – Unlock various cat breeds.
        </li>
        <li class="features-item">
          <span>Customize & Decorate</span> – Design your perfect feline
          paradise.
        </li>
        <li class="features-item">
          <span>Chill Background Music</span> – Enjoy a soothing soundtrack.
        </li>
      </ul>
    </div>
  </div>
</section>
