<section class="gallery" id="gallery">
  <div class="gallery_container container">
    <h2 class="title-h2">Gallery</h2>
    <div class="gallery gallery_content">
      <a href="./img/gallery/gallery-1.png" class="gallery-img-box">
        <img src="./img/gallery/gallery-1.jpg" alt="gallery-1" />
      </a>
      <a href="./img/gallery/gallery-2.png" class="gallery-img-box">
        <img src="./img/gallery/gallery-2.jpg" alt="gallery-2" />
      </a>
      <a href="./img/gallery/gallery-3.png" class="gallery-img-box">
        <img src="./img/gallery/gallery-3.jpg" alt="gallery-3" />
      </a>
      <a href="./img/gallery/gallery-4.png" class="gallery-img-box">
        <img src="./img/gallery/gallery-4.jpg" alt="gallery-4" />
      </a>
    </div>
  </div>
</section>
