<section class="how-play" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2">How to play</h2>
    <div class="how-play_content">
      <ul class="how-play-list">
        <li class="how-play-item">
          <span>1</span>
          <p>Start with a small group of cats.</p>
        </li>
        <li class="how-play-item">
          <span>2</span>
          <p>Cook soups to earn resources.</p>
        </li>
        <li class="how-play-item">
          <span>3</span>
          <p>Expand and decorate your cat village.</p>
        </li>
        <li class="how-play-item">
          <span>4</span>
          <p>Unlock new cats with unique abilities.</p>
        </li>
        <li class="how-play-item">
          <span>5</span>
          <p>Relax and watch your furry friends enjoy life.</p>
        </li>
      </ul>
      <div class="how-play-img-box">
        <img src="./img/how-play.jpg" alt="mole" />
      </div>
    </div>
  </div>
</section>
